body {
  font-size: 25px;
  background-color: white;
  color: black;
  margin: 0px;
  padding: 0px;
  font-family: "Arial", sans-serif; 
}

#header h1 {
  font-size: 35px;
}

#header #description {
  font-size: 25px;
}

nav {
  font-size: 25px;
  margin-left: 25px;
}

nav .nav-element {
  font-size: 25px;
}

nav a {
  text-decoration: none;
  color: blue;
  background-color: aliceblue;
  font-size: 25px;
}

#text {
  font-size: 20px;
}

#text.blog p {
  background-color: cornsilk;
}

#footer {
  font-size: 20px;
}

img {
  width: 100%;
  height: auto;
}

span.cpp-class {
  color: green;
}

span.cpp-curly {
  color: blue;
}

span.cpp-docket {
  color: pink;
}

span.cpp-inside {
  color: #D9B02B;
}

span.cpp-type {
  color: #2BBCD9;
}

span.cpp-this {
  color: #902BD9;
}

