body {
  font-size: 25px;
  background-color: white;
  color: black;
  margin: 0px;
  padding: 0px;
}

#header h1 {
  font-size: 35px;
}

#header #description {
  font-size: 25px;
}

nav {
  font-size: 25px;
}

nav#nav-element {
  font-size: 25px;
}

nav a {
  text-decoration: none;
  color: blue;
  background-color: aliceblue;
}

#text {
  font-size: 20px;
}

#footer {
  font-size: 20px;
}