body {
  font-size: 25px;
  background-color: white;
  color: black;
  margin: 0px;
  padding: 0px;
  font-family: "Arial", sans-serif; 
}

#header h1 {
  font-size: 35px;
}

#header #description {
  font-size: 25px;
}

nav {
  font-size: 25px;
  margin-left: 25px;
}

nav .nav-element {
  font-size: 25px;
}

nav a {
  text-decoration: none;
  color: blue;
  background-color: aliceblue;
  font-size: 25px;
}

#text {
  font-size: 20px;
}

#text.blog p {
  background-color: cornsilk;
}

#footer {
  font-size: 20px;
}

